<mat-nav-list>
    <!--
  
      Cuando nosotros utilizamos routerLink y el valor que pasamos NO COMIENZA CON "/"
      quiere decir que vamos a hacer una navegacion relativa
    -->
  
    @for (item of linkItems; track $index) {
    <a
      [routerLink]="item.routerLink"
      routerLinkActive
      #linkItem="routerLinkActive"
      [activated]="linkItem.isActive"
      mat-list-item
    >
      {{ item.label }}
    </a>
    }
    <a (click)="logout()" mat-list-item> Cerrar sesión</a>
  </mat-nav-list>
  